<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.CatlogDAO"> 
    <select id="getCatlogById"  resultType="com.app.entity.Catlog">
        select
        * from Attrs where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Attrs where id=#{id}
	</delete>
    <select id="getCatlogCount" resultType="int">
        select count(id) from Attrs
    </select>
    <select id="getAllCatlog" resultType="com.app.entity.Catlog">
        select * from Attrs
    </select>
    <select id="getCatlogByPid" resultType="com.app.entity.Catlog">
        select * from Attrs where pid=#{pid}
    </select>
    <insert id="insert" parameterType="com.app.entity.Catlog">
        insert into
        Attrs(title,thumb,description,created,updated,minval,maxval,pid) 
        values(#{title},#{thumb},#{description},#{created},#{updated},#{minval},#{maxval},#{pid});
    </insert>
        
    <update id="update" parameterType="com.app.entity.Catlog">
		update Attrs set title=#{title},thumb=#{thumb},description=#{description},created=#{created},updated=#{updated},minval=#{minval},maxval=#{maxval},pid=#{pid} where id=#{id}
	</update>
        </mapper>